
<div>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Summary</h4>
    </div>


    <div class="dl-horizontal">
        <dl>
            @foreach (var item in Model)
            {
                <dd>
                    <label>@item.Label</label>
                    <label> : </label>
                    <label>@item.Value</label>
                </dd>
            }
        </dl>
    </div>
</div> 
 
 
